<a href="https://colab.research.google.com/github/SafiyyahKazim/Google-COLAB/blob/master/Basic03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for x in 'cuny':
  print(x)

c
u
n
y

In [19]:
tvshows = ['star trek', 'game of throne', 'stranger things']#we start by defining a list

for show in tvshows:# define a for loop, this tells pyhton to pull a name from the list tvshows and store the variable in show
  
  print(show)#print the tvshows that were just stored in show
  
  #repeats items 2 and 3 until all of the tvshows are printed

star trek
game of throne
stranger things

In [116]:
family = ['mom','dad','grandma','grandpa','auntie1','auntie2','auntie3','uncle1','uncle2','sister','brother','cousin1','cousin2','cousin3','nephew1','nephew2','niece1','niece2','great-grandma','great-grandpa']
print(family[2:4])
print(family[0:3])
print(family[6:10])
print(family[2:])
print(family[-2])
print(family[-1])
print(family[6:9])
print(family[2:8])
print(family[-3])
print(family[:3])

['grandma', 'grandpa']
['mom', 'dad', 'grandma']
['auntie3', 'uncle1', 'uncle2', 'sister']
['grandma', 'grandpa', 'auntie1', 'auntie2', 'auntie3', 'uncle1', 'uncle2', 'sister', 'brother', 'cousin1', 'cousin2', 'cousin3', 'nephew1', 'nephew2', 'niece1', 'niece2', 'great-grandma', 'great-grandpa']
great-grandma
great-grandpa
['auntie3', 'uncle1', 'uncle2']
['grandma', 'grandpa', 'auntie1', 'auntie2', 'auntie3', 'uncle1']
niece2
['mom', 'dad', 'grandma']

In [33]:
for num in range (1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [35]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

how to make find odd numbers

In [ ]:
odd = []
for num in range(1,11):
  num = int(input("Enter a number: "))
  if num % 2!=0:
    print(" is an Even number")
else:
    print("is an Odd number")

In [51]:
numbers= list(range(1,17,2))
num = int(input("Enter a number: ")) 
if (num % 2) == 0:  
   print("is Even number")  
else:  
   print("is Odd number")

Enter a number: 6
is Even number

In [ ]:
number = int(input("Enter a number pls:")
if number%2 == 0:
  print(f"{number} in even")#f string
else:
  print("{0} is Odd".format(number))#dot format method

how to find prime number

In [ ]:
number = int(input("Enter a number "))
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is a prime number")
       else:
        print(num, "is not a prime number")

In [ ]:
number = 2
while (number < 100):
  num = 2
  while (num <= (number/num)):
    if not(number%num): break
    num=number + 1
if (num > (number/num)):
  print(number)
  number = number +1

In [ ]:
n=int(input("enter a number greater than 1: "))
#n is the variable and you will be inputting numbers into
Match=True

for num in range(2,n):
#range of 2 and n, also a for loop
  n%num
#i guess to make it divisible
  if n%num==0:
  # if loop to
    Match=False
if Match:
  print("num is prime")
  # if false it will say num is prime

else:
  print("name is not prime")

In [ ]:
for num in range(2,101):
  if all(num%i!=0 for i in range(2, num)):
    print(num)

In [ ]:
n=int(input("enter the range: "))
for k in range(2,n+1):
  for i in range(2,n):
    if (k % i)!=0:
      print(k)
      break
    else:
        print("{}not prime".format(k))
        break

In [97]:
tvshows = ['star trek', 'game of thrones','stranger things', 'big bang theory', 'black mirror']
print(tvshows[0:3])
print(tvshows[2:4])
print(tvshows[:3])
print(tvshows[2:])
print(tvshows[-2:])

['star trek', 'game of thrones', 'stranger things']
['stranger things', 'big bang theory']
['star trek', 'game of thrones', 'stranger things']
['stranger things', 'big bang theory', 'black mirror']
['big bang theory', 'black mirror']