<a href="https://colab.research.google.com/github/SafiyyahKazim/Google-COLAB/blob/master/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def greeting():#first line defines our function, using def keyword
  """This function displays a greeting"""
  #""""called a doc string
  print("what's up?")
#indented lines that follow after makeuo the body of the function
greeting()

what's up?

In [13]:
def greeting(x):
  """This function displays a greeting"""
  print("Hello there, " + x+ "!")
greeting('Haley')

Hello there, Haley!

In [14]:
def greeting_2(first_name, last_name):
  """Greets someone by first an last name"""
  print("Hello there, " + first_name + " " + last_name)
greeting_2('Paul','John')

Hello there, Paul John

In [21]:
def greeting_2(first_name, last_name,age):
  print("My name is "+ first_name+ " "+ last_name)
  print("I am " + str(age)+ ",years old")
greeting_2('Paul','John',43)
greeting_2('Sparky','Jack',76)

My name is Paul John
I am 43,years old
My name is Sparky Jack
I am 76,years old

In [22]:
def greeting(name):
  """document stuff"""
  print(f'hi there{name}!')

In [ ]:
greeting()

In [27]:
def greeting_2(first_name,last_name,age=23):
  print("My name is "+ first_name + " " + last_name)
  print("I am " + str(age) + ", years old" )
greeting_2(first_name='Paul', last_name='John')
greeting_2(age=43, first_name='PAUL', last_name='John')

My name is Paul John
I am 23, years old
My name is PAUL John
I am 43, years old

In [29]:
def math(number1,number2):
  print(number1+number2)
math(3,4)

7

In [30]:
def math(number1,number2):
  print(number1-number2)
math(3,4)

-1

basic calculator

In [36]:
def calculator():
#for function
  num1 = int(input("Enter the first number: "))
#to 
  num2 = int(input("Enter the second number: "))
  operator = input("Add, subtract, multiply, or divide: ")
  if operator == "Add": 
    return num1 + num2
  elif operator == 'Subtract':
    return num1 - num2
  elif operator =='Multiply':
    return num1 * num2
  elif operator == "Divide":
    return num1 / num2
calculator()

Enter the first number: 4
Enter the secind number: 6
Add, subtract, multiply, or divide: Add

10